header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 20px;
  display: inline-block;
}

li.active {
  color: grey;
}

li a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

li a.active {
  font-weight: bold;
  color: #4a4a4a;
  text-shadow: 0 0 2px white;
}
